:root {
  --white: #ffffff;
  --special-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --special-black: rgba(0, 0, 0, 0.3);
  --light-black: #333333;
  --blue: #81b3d2;
  --gray: #eeeeee;
  --ligth-brown: #766357;
  --brown: #604e43;
  --dark-brown: #503e33;
  --date: #f2f2f2;
  --date-hover: #ebebeb;
  --icon-form: #a9a9a9;
  --find-hover: #669ec0;
  --find-button: #5496bd;
  --academy: #321f20;
  --academy-button: #bdbbbc;
  --fill: #d8d8d8;
  --checkbox-block: #6a6a6a;
  --shadow: #ababab;
  --icon-up: #cacaca;
  --rating: #666666;
  --border-color-input: #e5e5e5;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans.woff2") format("woff2");
       url("../fonts/ptsans.woff") format("woff");
       url("../fonts/ptsansbold.woff2") format("woff2");
       url("../fonts/ptsansbold.woff") format("woff");
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.subject {
  margin: 0 auto;
  width: 470px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav {
  background-color: var(--white);
}

.main-nav-list {
  list-style: none;
  margin: 0;
}

.main-nav-item {
  line-height: 26px;
  color: var(--black);
}

.main-nav-item:hover,
.main-nav-item:focus {
  color: var(--blue);
  outline: none;

}

.main-nav-item:active {
  color: var(--special-black);
}

.main-nav-item-active {
  color: var(--ligth-brown);
  cursor: default;
}

.main-nav-item-active:hover {
  color: var(--ligth-brown);
  cursor: default;
}

.main-nav-item-active:active {
  color: var(--ligth-brown);
  cursor: default;
}

/* index.html */

.slogan {
  height: 509px;
  background-image: url("../img/background_mountains.png"),
                    url("../img/mountains.jpg");
  background-position: center bottom -1px, center top;
  background-repeat: no-repeat;
  text-align: center;
}

.main {
  background-color: var(--white);
  text-align: center;
}

.text {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.features {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--white);
  background-color: var(--blue);
}

.box-title {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.box-text {
  margin: 0;
}

.advantage-list {
  list-style: none;
  margin: 0;
}

.advantage-item-1 {
  background-image: url("../img/advantage1.svg");
  background-repeat: no-repeat;
}

.advantage-item-2 {
  background-image: url("../img/advantage2.svg");
  background-repeat: no-repeat;
}

.advantage-item-3 {
  background-image: url("../img/advantage3.svg");
  background-repeat: no-repeat;
}

.advantage-box-title {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}

.advantage-box-text {
  margin: 0;
}

.features-grey {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.search-hotel-block {
  line-height: 24px;
  text-align: center;
}

.form-description {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: var(--light-black);
  background-color: var(--white);
}

.subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--white);
}

.search-hotel-content{
  background-color: var(--white);
}

.search-hotel {
  color: var(--white);
  width: 568px;
  height: 86px;
  margin: 0 auto;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  background-color: var(--ligth-brown);
  border: none;
}

.search-hotel:hover,
.search-hotel:focus {
  background-color: var(--brown);
  outline: none;
}

.search-hotel:active {
  color: var(--special-white);
  background-color: var(--dark-brown);
}

.desc {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}

.hotel-input {
  background-color: var(--date);
  border: none;
}

.hotel-input:hover {
  background-color: var(--date-hover);
}

.hotel-input:focus {
  background-color: var(--white);
  outline: 2px solid var(--border-color-input);
}

.hotel-input::placeholder {
  line-height: 26px;
  font-weight: bold;
  color: var(--black);
}

.button {
  color: var(--icon-form);
  border: none;
}

.button:hover,
.button:focus {
  color: var(--black);
  outline: none;
}

.button:active {
  color: var(--blue);
}

.submit {
  padding: 0;
  width: 458px;
  height: 58px;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  text-align: center;
}

.submit:hover,
.submit:focus {
  background-color: var(--find-hover);
  outline: none;
}

.submit:active {
  color: var(--special-white);
  background-color: var(--find-button);
  outline: none;
}

.contacts-content {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  line-height: 21px;
  background-color: var(--white);
}

.contacts-phone {
  display: block;
  color: var(--black);
  text-decoration: none;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: var(--blue);
  outline: none;
}

.social {
  margin: 0;
  background-color: var(--white);
}

.social-list {
  margin: 0;
  list-style: none;
}

.social-list-item {
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  background-position: center;
  background-repeat: no-repeat;
}

.link-twitter {
  width: 46px;
  height: 48px;
  display: block;
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.link-twitter:active {
  background-image: url("../img/twitter_button.svg");
}

.link-facebook {
  width: 46px;
  height: 48px;
  display: block;
  background-image: url("../img/fb-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.link-facebook:active {
  background-image: url("../img/fb_button.svg");
}

.link-youtube {
  width: 46px;
  height: 48px;
  display: block;
  background-image: url("../img/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.link-youtube:active {
  background-image: url("../img/youtube_button.svg");
}

.social-link:hover,
.social-link:focus {
  background-color: var(--find-hover);
  outline: none;
}

.authors {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--white);
}

.authors-logo {
  width: 115px;
  height: 41px;
  display: inline-block;
  background-color: var(--white);
  background-image: url("../img/logo-htmlacademy.svg");
}

.authors-logo:hover,
.authors-logo:focus{
  outline: none;
}

.authors-logo:active {
  outline: none;
}

/* hotels.html */

.filter {
  border: none;
}

.filter-hotel {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--white);
  background-image: url("../img/filter-background.png");
  background-position: center;
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 16px;
  font-weight: bold;
}

.type-hotel-list {
  margin: 0;
  list-style: none;
}

.type-hotel-input:disabled {
  color: var(--checkbox-block);
}

.type-hotel-submit {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid var(--white);
  background-color: transparent;
}

.type-hotel-submit:hover,
.type-hotel-submit:focus {
  color: var(--black);
  background-color: var(--white);
  border: none;
  outline: none;
}

.results-search {
  font-size: 12px;
  line-height: 18px;
  background-color: var(--white);
}

.results-search-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-top: 0;
}

.sort-link {
  color: var(--special-black);
  border-bottom: 1px dotted var(--blue);
}

.sort-link:hover,
.sort-link:focus {
  color: var(--blue);
  border-bottom: 1px dotted var(--blue);
  outline: none;
}

.sort-link:active {
  color: var(--black);
  border: none;
}

.sort-link-active {
  color: var(--blue);
  border-bottom: none;
  cursor: default;
}

.sort-link-active:hover {
  color: var(--blue);
  cursor: default;
}

.sort-link-active:active {
  color: var(--blue);
  cursor: default;
}

.results-filter {
  color: var(--icon-up);
}

.results-filter:hover,
.results-filter:focus {
  color: var(--black);
  outline: none;
}

.results-filter:active {
  color: var(--blue);
}

.results-filter-active {
  color: var(--blue);
  cursor: default;
}

.results-filter-active:hover,
.results-filter-active:active {
  color: var(--blue);
  cursor: default;
}

.cards-hotel {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--white);
}

.caption {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.caption:hover {
  color: var(--blue);
}

.caption:active {
  color: var(--special-black);
}

.cards-text {
  margin: 0;
}

.more {
  color: var(--white);
  text-align: center;
  background-color: var(--blue);
}

.more:hover,
.more:focus {
  background-color: var(--find-hover);
  outline: none;
}

.more:active {
  color: var(--special-white);
  background-color: var(--find-button);
}

.reserve-link {
  color: var(--white);
  text-align: center;
  background-color: var(--ligth-brown);
}

.reserve-link:hover,
.reserve-link:focus {
  background-color: var(--brown);
  outline: none;
}

.reserve-link:active {
  color: var(--special-white);
  background-color: var(--dark-brown);
}

.rating {
  color: var(--rating);
  background-color: var(--date);
}

