:root {
  --white: #ffffff;
  --special-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --special-black: rgba(0, 0, 0, 0.3);
  --light-black: #333333;
  --blue: #81b3d2;
  --gray: #eeeeee;
  --ligth-brown: #766357;
  --brown: #604e43;
  --dark-brown: #503e33;
  --date: #f2f2f2;
  --date-hover: #ebebeb;
  --icon-form: #a9a9a9;
  --find-hover: #669ec0;
  --find-button: #5496bd;
  --academy: #321f20;
  --academy-button: #bdbbbc;
  --fill: #d8d8d8;
  --checkbox-block: #6a6a6a;
  --shadow: #ababab;
  --icon-up: #cacaca;
  --rating: #666666;
  --border: #e5e5e5;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans.woff2") format("woff2");
       url("../fonts/ptsans.woff") format("woff");
       url("../fonts/ptsansbold.woff2") format("woff2");
       url("../fonts/ptsansbold.woff") format("woff");
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.subject {
  width: 470px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-nav {
  background-color: var(--white);
}

.main-nav ul {
  list-style: none;
  margin: 0;
}

.main-nav a {
  line-height: 26px;
  color: var(--black);
}

.main-nav a:hover {
  color: var(--blue);
  border: ;
}

.main-nav a:active {
  color: var(--special-black);
}
/* index.html */

.slogan {
  height: 509px;
  background-image: url("../img/background_mountains.png"),
                    url("../img/mountains.jpg");
  background-position: center bottom -1px, center top;
  background-repeat: no-repeat;
  text-align: center;
}

.main {
  background-color: var(--white);
  text-align: center;
}

.main p {
  font-size: 14px;
  line-height: 26px;
}

.main h1 {
  margin: 0 auto;
}

.search-hotel-block {
  line-height: 24px;
  text-align: center;
}

.best-offers {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: var(--light-black);
  background-color: var(--white);
}

.subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  background-color: var(--white);
}

.search-hotel-content{
  background-color: var(--white);
}

.search-hotel {
  color: var(--white);
  width: 568px;
  height: 86px;
  margin: 0 auto;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  background-color: var(--ligth-brown);
}

.search-hotel:hover {
  background-color: var(--brown);
}

.search-hotel:active {
  color: var(--special-white);
  background-color: var(--dark-brown);
}

.date label {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
}

.prompt {
  background-color: var(--date);
  border: none;
}

.prompt:hover {
  background-color: var(--date-hover);
}

.prompt:focus {
  background-color: var(--white);
  border: 2px solid var(--border);
}

.prompt::placeholder {
  line-height: 26px;
  font-weight: bold;
  color: var(--black);
}

.button {
  color: var(--icon-form);
  border: none;
}

.button:hover {
  color: var(--black);
}

.button:active {
  color: var(--blue);
}

.button:focus {
  color: var(--black);
}

.submit {
  padding: 0;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  text-align: center;
}

.submit:hover {
  background-color: var(--find-hover);
}

.submit:active {
  color: var(--special-white);
  background-color: var(--find-button);
}

.submit:focus {
  background-color: var(--find-hover);
}

.contacts p{
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  line-height: 21px;
  background-color: var(--white);
}

.contacts a {
  display: block;
  color: var(--black);
  text-decoration: none;
}

.social {
  margin: 0;
  background-color: var(--white);
}

.social ul {
  margin: 0;
  list-style: none;
}

.twitter {
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.twitter:hover {
  background-color: var(--find-hover);
}

.twitter:active {
  background-image: url("../img/twitter_button.svg");
}

.twitter:focus {
  background-color: var(--find-hover);
}

.facebook {
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  background-image: url("../img/fb-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.facebook:hover {
  background-color: var(--find-hover);
}

.facebook:active {
  background-image: url("../img/fb_button.svg");
}

.facebook:focus {
  background-color: var(--find-hover);
}
.youtube {
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  background-image: url("../img/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.youtube:hover {
  background-color: var(--find-hover);
}

.youtube:active {
  background-image: url("../img/youtube_button.svg");
}

.youtube:focus {
  background-color: var(--find-hover);
}

.logo {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--white);
}

.logo a {
  width: 115px;
  height: 41px;
  display: block;
  background-color: var(--white);
  background-image: url("../img/logo-htmlacademy.svg");
}

.logo a:hover {
  background-image: url("../img/logo-htmlacademy_hover.svg");
}

.logo a:active {
  background-image: url("../img/logo-htmlacademy_button.svg");
}

logo a:focus {
  background-image: url("../img/logo-htmlacademy_hover.svg");
}

/* hotels.html */

.amara-resort-spa {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--white);
}

.amara-resort-spa h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.amara-resort-spa h2:hover {
  color: var(--blue);
}

.amara-resort-spa h2:active {
  color: var(--special-black)
}

.amara-resort-spa p {
  margin: 0;
}

.more {
  color: var(--white);
  text-align: center;
  background-color: var(--blue);
}

.more:hover {
  background-color: var(--find-hover);
}

.more:active {
  color: var(--special-white);
  background-color: var(--find-button);
}

.features {
  color: var(--white);
  text-align: center;
  background-color: var(--ligth-brown);
}

.features:hover {
  background-color: var(--brown);
}

.features:active {
  color: var(--special-white);
  background-color: var(--dark-brown);
}

.rating {
  color: var(--rating);
  background-color: var(--date);
}

.desert-quail-inn {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--white);
}

.desert-quail-inn h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.desert-quail-inn p {
  margin: 0;
}

.villas-at-poco-diablo {
  font-size: 14px;
  line-height: 21px;
  background-color: var(--white);
}

.villas-at-poco-diablo h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.villas-at-poco-diablo p {
  margin: 0;
}


